@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.grid {
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(64, 20px);
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}
