@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.grid {
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(64, 18px);
}

.cell {
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.cell:hover {
  background-color: #bbb !important;
}

.color-palette {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(32, 18px);
  grid-gap: 5px;
}

.color {
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  cursor: pointer;
}
